<!DOCTYPE html>
<html lang="es-ES">

<head>
    <meta charset="UTF-8">
    <title>Animalandia</title>
    <!--<link rel="stylesheet" type="text/css" href="css/estilos.css">-->
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../assets/css/index.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/contacto.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">


</head>

<body>
    <div class="container-fluid overflow-hidden">
        <header>
            <div class="row align-items-center">
                <div class="header-logo col-12 col-md-4 col-xl-3">
                    <img src="../assets/img/logo.jpg" class="img-fluid">
                </div>

                <div class="col-12 col-md-4 col-xl-6"></div>
                <div class="header-buttons col-12 col-md-4 col-xl-3 d-flex flex-row">
                    <form action="./login.html">
                        <button type="submit" class="btn btn-primary"><i
                                class="bi bi-person-circle"></i>Ingresar</button>
                    </form>
                    <button type="button" class="btn btn-outline-primary"><i
                            class="bi bi-people"></i>Registrarse</button>
                </div>
            </div>
        </header>

        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(117, 41, 149);">
            <div class="container-fluid">
                <a href="#" class="navbar-brand"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Togglenavigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a href="../index.html" class="nav-link active" aria-current="page">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="../views/equipo.html" class="nav-link">Equipo</a>
                        </li>
                        <li class="nav-item">
                            <a href="../views/servicios.html" class="nav-link">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Agenda</a>
                        </li>
                        <li class="nav-item">
                            <a href="../views/tips.html" class="nav-link">Tips</a>
                        </li>
                        <li class="nav-item">
                            <a href="../views/contacto.html" class="nav-link">Contacto</a>
                        </li>
                    </ul>
                </div>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Digite su criterio" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">Buscar</button>
                </form>
            </div>
        </nav>

        <main>
            <div class="container-fluid d-flex contenido">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15908.227640828107!2d-74.103688!3d4.583806!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcb94d4852598b934!2sKuepa%20-%20Restrepo!5e0!3m2!1ses-419!2sco!4v1646398325032!5m2!1ses-419!2sco"
                    width="350" height="380" allowfullscreen="" loading="lazy" class="pb-5"></iframe>

                <div class="body ms-4">
                    <div class="row justify-content-md-center mt-3 mb-3">
                        <div class="titulo-como text-center mb-3">
                            <h1>¿Como encontrarnos?</h1>
                        </div>

                        <div class="texto row row-cols-2">
                            <div class="col espacio mb-3"><i class="bi bi-geo-alt-fill como-icon ps-2 pe-2"></i>
                                <p><span>Direccion:</span><br>Cra. 19 #20 - 21 Sur,
                                    Bogotá</p>
                            </div>
                            <div class="col espacio mb-3"><i class="bi bi-telephone-fill como-icon ps-2 pe-2"></i>
                                <p><span>Telefono:</span><br>601 222 2222</p>
                            </div>
                            <div class="col espacio mb-3"><i class="bi bi-envelope como-icon ps-2 pe-2"></i>
                                <p><span>Email:</span><br>contacto@kuepa.edu.co</p>
                            </div>
                            <div class="col espacio mb-3"><i class="bi bi-whatsapp como-icon ps-2 pe-2"></i>
                                <p><span>Whatsapp:</span><br>+57 3137934903</p>
                            </div>
                            <div class="col espacio mb-3"><i class="bi bi-instagram como-icon ps-2 pe-2"></i>
                                <p>@AnimalandiaPets</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </main>

        <section class="pb-4 pt-4">
            <div class="titulo">
                <h1><span class="form-title">¿Dudas?</span> Escribenos</h1>
            </div>
            <div class="renglon d-flex pt-3 justify-content-center formulario">
                <div class="container d-flex ">
                    <div class="row ">
                        <div class="cola col">
                            <div class="col1 col">
                                <div class="input-group mb-4">
                                    <span class="input-group-text">Nombre completo</span>
                                    <div class="botones">
                                        <input type="text" aria-label="First name" class="form-control"
                                            placeholder="Nombres">
                                        <input type="text" aria-label="Last name" class="form-control"
                                            placeholder="Apellidos">
                                    </div>

                                </div>
                            </div>
                            <div class="col1 col">
                                <div class="input-group flex-nowrap mb-4">
                                    <span class="input-group-text" id="addon-wrapping">Correo</span>
                                    <div class="botones2">
                                        <input type="text" class="form-control" placeholder="Escriba su correo"
                                            aria-label="Username" aria-describedby="addon-wrapping">
                                    </div>

                                </div>
                            </div>

                            <div class="col1 col">
                                <div class="row g-3 align-items-center">
                                    <div class="col-auto mb-4 solicitud">
                                        <span class="input-group-text" style="margin-right: 10px;">Ingrese su solicitud:
                                        </span>
                                        <div class="fondo text-center align-items-center"
                                            style="background-color: rgb(230, 228, 228)">
                                            <div class="form-check form-check-inline ">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                    id="inlineRadio1" value="option1">
                                                <label class="form-check-label" for="inlineRadio1">Dudas</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                    id="inlineRadio2" value="option2">
                                                <label class="form-check-label" for="inlineRadio2">Sugerencias</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                    id="inlineRadio2" value="option2">
                                                <label class="form-check-label" for="inlineRadio2">Peticion</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                    id="inlineRadio2" value="option2">
                                                <label class="form-check-label" for="inlineRadio2">Otro</label>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <div class="col">
                                    <div class="input-group mb-4">
                                        <label for="inputGroupSelect01" class="input-group-text">¿En que ciudad
                                            vives?</label>
                                        <div class="botones3">
                                            <select class="form-select" id="inputGroupSelect01">
                                                <option value="">-</option>
                                                <option value="Arauca">Arauca</option>
                                                <option value="Armenia">Armenia</option>
                                                <option value="Barranquilla">Barranquilla</option>
                                                <option value="Bogotá">Bogotá</option>
                                                <option value="Bucaramanga">Bucaramanga</option>
                                                <option value="Cali">Cali</option>
                                                <option value="Cartagena">Cartagena</option>
                                                <option value="Cúcuta">Cúcuta</option>
                                                <option value="Florencia">Florencia</option>
                                                <option value="Ibagué">Ibagué</option>
                                                <option value="Leticia">Leticia</option>
                                                <option value="Manizales">Manizales</option>
                                                <option value="Medellín">Medellín</option>
                                                <option value="Mitú">Mitú</option>
                                                <option value="Mocoa">Mocoa</option>
                                                <option value="Montería">Montería</option>
                                                <option value="Neiva">Neiva</option>
                                                <option value="Pasto">Pasto</option>
                                                <option value="Pereira">Pereira</option>
                                                <option value="Popayán">Popayán</option>
                                                <option value="Puerto Carreño">Puerto Carreño</option>
                                                <option value="Puerto Inírida">Puerto Inírida</option>
                                                <option value="Quibdó">Quibdó</option>
                                                <option value="Riohacha">Riohacha</option>
                                                <option value="San Andrés">San Andrés</option>
                                                <option value="San José del Guaviare">San José del Guaviare</option>
                                                <option value="Santa Marta">Santa Marta</option>
                                                <option value="Sincelejo">Sincelejo</option>
                                                <option value="Tunja">Tunja</option>
                                                <option value="Valledupar">Valledupar</option>
                                                <option value="Villavicencio">Villavicencio</option>
                                                <option value="Yopal">Yopal</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <div class="botones4">
                                            <input type="file" class="form-control" id="inputGroupFile02">
                                        </div>
                                        <label class="input-group-text" for="inputGroupFile02">Upload</label>
                                    </div>
                                    <div class="opcional">
                                        <p>*Opcional</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container d-flex">
                    <div class="row ms-3 d-flex">
                        <div class="mb-3 text-area text-center observ">
                            <label for="exampleFormControlTextarea1" class="form-label">Observaciones</label>
                            <textarea class="form-control text-area-observ" id="exampleFormControlTextarea1"
                                rows="9"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row justify-content-md-center mt-3 mb-3">
                    <div class="btn-group ">
                        <a href="#" class="btn btn-primary active enviar" aria-current="page"><i
                                class="bi bi-send formu-icon"></i>Enviar</a>
                        <a href="#" class="btn btn-primary reestablecer"><i
                                class="bi bi-x-circle-fill formu-icon"></i>Reestablecer</a>
                    </div>
                </div>
        </section>


        <footer class="container-fluid mb-0">
            <div class="capa">
                <div class="pt-4 m-0 mifooter">
                    <div class="row justify-content-around">
                        <div class="col-12 col-md-4 col-xl-4 text-center">
                            <i class="bi bi-building"></i>
                            <h5>Sedes</h5>
                            <p>Sede Kennedy<br>
                                Sede Suba<br>
                                Sede Fontibon<br>
                                Sede Centro</p>
                        </div>

                        <div class="col-12 col-md-4 col-xl-4 text-center">
                            <i class="bi bi-building"></i>
                            <h5>Sedes</h5>
                            <p>Sede Kennedy<br>
                                Sede Suba<br>
                                Sede Fontibon<br>
                                Sede Centro</p>
                        </div>

                        <div class="col-12 col-md-4 col-xl-4 text-center">
                            <i class="bi bi-building"></i>
                            <h5>Sedes</h5>
                            <p>Sede Kennedy<br>
                                Sede Suba<br>
                                Sede Fontibon<br>
                                Sede Centro</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>