<!DOCTYPE html>
<html lang="es-Es">
<head>
    <meta charset="utf-8">
	<title>Animalandia</title>
	<link rel="stylesheet" type="text/css" href="../assets/css/menu.css">
    <script src="https://kit.fontawesome.com/4bc23db062.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/4bc23db062.js" crossorigin="anonymous"></script>

</head>
<body>
    <nav>
        <input type="checkbox" id="chk-menu">
        <label for="chk-menu" class="btn-menu">
            <i class="fa-solid fa-bars"></i>
        </label>
        <div class="items">
            <a href="/index.html" class="item">Home</a>
            <a href="./equipo.html" class="item">Equipo</a>
            <a href="./servicios.html" class="item">Servicios</a>
            <a href="./contacto.html" class="item">Contacto</a>
        </div>
    </nav>

    <!--
    <div class="slider">
        <ul class="slider-ul">
            <li class="slider-li"></li>
            <li class="slider-li"></li>
            <li class="slider-li"></li>
            <li class="slider-li"></li>
        </ul>
    </div>
-->
<!--
    <div class="caja click">
        <p>click</p>
    </div>

    <div class="caja cartel">
        <p>Cartel</p>
    </div>

    <div class="caja zoomrotate">
        <p>Zoom rotate</p>
    </div>

    <div class="caja rebote">
        <p>Rebote</p>
    </div>

    <div class="caja fadein">
        <p>Fade in</p>
    </div>

    <div class="caja fadeout">
        <p>Fade Out</p>
    </div>
-->
<section id="logos">
   <div class="logos">
       <div class="logo1">
           <h1>Edificios</h1>
           <i class="fa-solid fa-handshake-angle"></i>
       </div>

       <div class="logo2">
            <h1>Edificios</h1>
            <i class="fa-solid fa-universal-access"></i>
        </div>

        <div class="logo3">
            <h1>Edificios</h1>
            <i class="fa-solid fa-eye-dropper"></i>
        </div>

        <div class="logo4">
            <h1>Edificios</h1>
            <i class="fa-brands fa-amazon-pay"></i>
        </div>
   </div>
</section>

<br>

<section id="slider">
    <input type="radio" name="slider" id="slide1" checked>
    <input type="radio" name="slider" id="slide2" >
    <input type="radio" name="slider" id="slide3" >
    <input type="radio" name="slider" id="slide4" >

    <div id="slides">
        <div class="inner">
            <div class="slide slide_1">
                <div class="slide-content">
                    <h2>Titulo 1</h2>
                    <p>Parrafo 1</p>
                </div>
            </div>
            <div class="slide slide_2">
                <div class="slide-content">
                    <h2>Titulo 1</h2>
                    <p>Parrafo 1</p>
                </div>
            </div>
            <div class="slide slide_3">
                <div class="slide-content">
                    <h2>Titulo 1</h2>
                    <p>Parrafo 1</p>
                </div>
            </div>
            <div class="slide slide_4">
                <div class="slide-content">
                    <h2>Titulo 1</h2>
                    <p>Parrafo 1</p>
                </div>
            </div>
        </div>
    </div>

    <div class="controllers">
        <label for="slide1">1</label>
        <label for="slide2">2</label>
        <label for="slide3">3</label>
        <label for="slide4">4</label>
    </div>

    <div class="bullets">
        <label for="slide1"></label>
        <label for="slide2"></label>
        <label for="slide3"></label>
        <label for="slide4"></label>
    </div>
</section>

<br>

<section id="slider1">
    <input type="radio" name="slider" id="slide1-1" checked>
    <input type="radio" name="slider" id="slide2-1" >
    <input type="radio" name="slider" id="slide3-1" >
    <input type="radio" name="slider" id="slide4-1" >

    <div id="slides1">
        <div class="inner">
            <div class="slide1 slide_1-1">
                <div class="slide-content1">
                    <h2>Titulo 1</h2>
                    <p>Parrafo 1</p>
                </div>
            </div>
            <div class="slide1 slide_2-1">
                <div class="slide-content1">
                    <h2>Titulo 1</h2>
                    <p>Parrafo 1</p>
                </div>
            </div>
            <div class="slide1 slide_3-1">
                <div class="slide-content1">
                    <h2>Titulo 1</h2>
                    <p>Parrafo 1</p>
                </div>
            </div>
            <div class="slide1 slide_4-1">
                <div class="slide-content1">
                    <h2>Titulo 1</h2>
                    <p>Parrafo 1</p>
                </div>
            </div>
        </div>
    </div>

    <div class="controllers1">
        <label for="slide1-1">1</label>
        <label for="slide2-1">2</label>
        <label for="slide3-1">3</label>
        <label for="slide4-1">4</label>
    </div>

    <div class="bullets1">
        <label for="slide1-1"></label>
        <label for="slide2-1"></label>
        <label for="slide3-1"></label>
        <label for="slide4-1"></label>
    </div>
</section>

</body>
</html>